@import 'mdb-react-ui-kit/dist/css/mdb.min.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  background-color: #212940;
  color: #F2F2F2;
}

.auth-form {
  width: 100%;
  margin: auto
}

.children-container {
  margin: 1rem;
}

.pic-container {
  width: 40px;
}

.pic-nav {
  width: 100%;
}

.navbar-style {
  padding-left: 1rem;
  padding-right: 1rem;
}

.links-nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1rem;
}

.link-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 0.4rem;
  color: #FF45BB;
  transition-duration: 0.4s;
}

.link-nav:hover {
  color: #BC04BF;
  text-decoration: none;
}

.card-form {
  width: 30%;
  margin: auto;
  background-color: #28314D;
}

.account-suggest {
  margin: auto;
}

.card-title {
  text-align: center;
  margin-top: 0.2rem;
}

.img-form-container {
  width: 40%;
  margin: auto;
}

.img-form {
  width: 100%;
}

.link-suggest {
  color: #FF45BB;
  transition-duration: 0.4s;
}

.link-suggest:hover {
  color: #BC04BF;
  background-color: #212940;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
}

.navbar-bars {
  color: #F2F2F2;
}

.button-form {
  width: 100%;
  background-color: #FF45BB;
  color: #F2F2F2;
  border: none;
  height: 2rem;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.button-form:hover {
  background-color: #BC04BF;
}

.button-form:disabled {
  background-color: rgba(188, 4, 191, 0.8);
  color: #28314D;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.not-found-text {
  text-align: center;
  color: #FF45BB;
}

.sad-icon {
  color: #FF45BB;
  text-align: center;
}

.work-container {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-text {
  text-align: center;
  color: #F2F2F2;
}

.drop-menu {
  background-color: #28314D;
}

.drop-item {
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .links-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  .card-form {
    width: 80%;
    margin: auto;
    background-color: #28314D;
  }

  .card-title {
    text-align: center;
    margin-top: 0.2rem;
    font-size: medium;
  }

  .suggest-text {
    text-align: center;
    font-size: small;
  }

  .pic-container {
    width: 24px;
  }

  .link-nav {
    font-size: small;
  }
}

@media only screen and (min-width: 600px) {
  .links-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  .card-form {
    width: 70%;
    margin: auto;
    background-color: #28314D;
  }
}

@media only screen and (min-width: 768px) {
  .links-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  .card-form {
    width: 60%;
    margin: auto;
    background-color: #28314D;
  }
}

@media only screen and (min-width: 992px) {
  .links-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    gap: 2rem;
  }

  .card-form {
    width: 50%;
    margin: auto;
    background-color: #28314D;
  }
}

@media (min-width: 1200px) {
  .links-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    gap: 2rem;
  }

  .card-form {
    width: 30%;
    margin: auto;
    background-color: #28314D;
  }
}